<div class="sidebar">
  <ul id="slide-out" class="side-nav">
      <li>
        <i class="mx-3 icon fa fa-tachometer font-20"></i>
        <!-- <span class="">Dashboard</span> -->
      </li>
      
      <li>
        <i class="mx-3 icon fa fa-users font-20"></i>
        <!-- <span class="">Employees</span> -->
      </li>

      <li>
        <i class="mx-3 icon fa fa-calendar font-20"></i>
        <!-- <span class="">Timesheets</span> -->
      </li>

      <li>
        <i class="mx-3 icon fa fa-cog font-20"></i>
        <!-- <span class="">Settings</span> -->
      </li>

      <li>
        <i class="mx-3 icon fa fa-user font-20"></i>
        <!-- <span class="">Account</span> -->
      </li>
      
      <li>
        <i class="mx-3 icon fa fa-question font-20"></i>
        <!-- <span class="">Help</span> -->
      </li>

      <li (click)="logout()">
        <i class="mx-3 icon fa fa-sign-out font-20"></i>
        <!-- <span class="">Log Out</span> -->
      </li>
  </ul>
</div>