<div class="container-fluid">
  <div class="row align-items-center justify-content-center fill-height">
    <form class="w400" #login="ngForm" (ngSubmit)="onSubmit()">
      <fieldset>

        <div class="text-center">
            <img src="./assets/imgs/angular.png" class="img-75" alt="Angular">
            <h1 class="title">Login</h1>
        </div>

        <!-- EMAIL -->
        <div class="form-group" [ngClass]="{
          'has-success': ( email.valid && (email.dirty || email.touched) ),
          'has-danger' : ( (email.hasError('pattern') || email.hasError('required') ) && (email.dirty || email.touched) )
        }">
          <label for="email has-success">Email address</label>
          <input type="email" class="form-control" #email="ngModel" required placeholder="Enter email" [(ngModel)]="user.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email">
        </div>

        <!-- Password -->
        <div class="form-group" [ngClass]="{
          'has-success': ( password.valid && (password.dirty || password.touched) ),
          'has-danger' : ( (password.hasError('minlength') || password.hasError('required') ) && (password.dirty || password.touched) )
        }">
          <label for="password">Password</label>
          <input type="password" class="form-control" #password="ngModel" required minlength="4" placeholder="Password" [(ngModel)]="user.password"  name="password">
        </div>

        <!-- Remember me -->
        <fieldset class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="remember" checked=""> Remember Me
            </label>
          </div>
          <a href="#" class="infoText float-right">Forgot Password?</a>
        </fieldset>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
      </fieldset>

    </form>
  </div>


  <div class="row align-items-center justify-content-center">
    <h3 class="infoText">Need an account? <a href="/account/signup" class="infoText p-2 pl-3 pr-3 link">Sign up</a></h3>
  </div>
</div>