<app-navbar></app-navbar>

<app-sidebar></app-sidebar>


<div class="content">
  
  <div class="card-deck">

    <div class="col-12 col-lg-6 col-xl-3 card">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <!-- <h5 class="card-title">Employees</h5><br> -->
                <i class="fa fa-users fa-3x"></i>
              </div>
              <div class="col text-right">
                  <h2 class="m-0">500</h2><br>
                  <h5 class="card-title m-0">Active Employees</h5>
              </div>
          </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3 card">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <!-- <h5 class="card-title">Employees</h5><br> -->
                <i class="fa fa-calendar fa-3x"></i>
              </div>
              <div class="col text-right">
                  <h2 class="m-0">20</h2><br>
                  <h5 class="card-title m-0">Timesheets</h5>
              </div>
          </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3 card">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <!-- <h5 class="card-title">Employees</h5><br> -->
                <i class="fa fa-briefcase fa-3x"></i>
              </div>
              <div class="col text-right">
                  <h2 class="m-0">2</h2><br>
                  <h5 class="card-title m-0">Projects</h5>
              </div>
          </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3 card">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <!-- <h5 class="card-title">Employees</h5><br> -->
                <i class="fa fa-envelope-open fa-3x"></i>
              </div>
              <div class="col text-right">
                  <h2 class="m-0">2</h2><br>
                  <h5 class="card-title m-0">HR Requests</h5>
              </div>
          </div>
        </div>
    </div>

  </div>





</div>