<nav class="navbar navbar-expand-lg navbar5 navbar-light bg-light">

  <div class="left-sidebar">
      <a href="/home"><img src="./assets/imgs/angular.png" class="img-50" alt="Angular"></a>
  </div>

  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active mx-2">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>



<div class="sidebar">
  <ul id="slide-out" class="side-nav">
      <li>
        <i class="mx-3 icon fa fa-tachometer font-20"></i>
        <!-- <span class="">Dashboard</span> -->
      </li>
      
      <li>
        <i class="mx-3 icon fa fa-users font-20"></i>
        <!-- <span class="">Employees</span> -->
      </li>

      <li>
        <i class="mx-3 icon fa fa-calendar font-20"></i>
        <!-- <span class="">Timesheets</span> -->
      </li>

      <li>
        <i class="mx-3 icon fa fa-cog font-20"></i>
        <!-- <span class="">Settings</span> -->
      </li>

      <li>
        <i class="mx-3 icon fa fa-user font-20"></i>
        <!-- <span class="">Account</span> -->
      </li>
      
      <li>
        <i class="mx-3 icon fa fa-question font-20"></i>
        <!-- <span class="">Help</span> -->
      </li>

      <li (click)="logout()">
        <i class="mx-3 icon fa fa-sign-out font-20"></i>
        <!-- <span class="">Log Out</span> -->
      </li>
  </ul>
</div>

<div class="content">
  
  <div class="card-deck">

    <div class="col-12 col-lg-6 col-xl-3 card">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <!-- <h5 class="card-title">Employees</h5><br> -->
                <i class="fa fa-users fa-3x"></i>
              </div>
              <div class="col text-right">
                  <h2 class="m-0">500</h2><br>
                  <h5 class="card-title m-0">Active Employees</h5>
              </div>
          </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3 card">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <!-- <h5 class="card-title">Employees</h5><br> -->
                <i class="fa fa-calendar fa-3x"></i>
              </div>
              <div class="col text-right">
                  <h2 class="m-0">20</h2><br>
                  <h5 class="card-title m-0">Timesheets</h5>
              </div>
          </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3 card">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <!-- <h5 class="card-title">Employees</h5><br> -->
                <i class="fa fa-briefcase fa-3x"></i>
              </div>
              <div class="col text-right">
                  <h2 class="m-0">2</h2><br>
                  <h5 class="card-title m-0">Projects</h5>
              </div>
          </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3 card">
        <div class="card-body">
          <div class="row">
              <div class="col">
                <!-- <h5 class="card-title">Employees</h5><br> -->
                <i class="fa fa-envelope-open fa-3x"></i>
              </div>
              <div class="col text-right">
                  <h2 class="m-0">2</h2><br>
                  <h5 class="card-title m-0">HR Requests</h5>
              </div>
          </div>
        </div>
    </div>

  </div>





</div>